<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. Востребованность</title>
    <link rel="stylesheet" href="{% static 'styles/demand.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand" class="selected-option-nav">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;Востребованность
                </h2>
            </header>
        </div>
        <div class="media">
            <div class="salary-dynamics section">
                <table border="1">
                    <caption>Динамика уровня зарплат по годам</caption>
                    <tr>
                     <th>Год</th>
                     <th>Средняя зарплата</th>
                    </tr>
                    <tr>
                        <td>{{ year0 }}</td>
                        <td>{{ salary0 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year1 }}</td>
                        <td>{{ salary1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year2 }}</td>
                        <td>{{ salary2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year3 }}</td>
                        <td>{{ salary3 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year4 }}</td>
                        <td>{{ salary4 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year5 }}</td>
                        <td>{{ salary5 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year6 }}</td>
                        <td>{{ salary6 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year7 }}</td>
                        <td>{{ salary7 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year8 }}</td>
                        <td>{{ salary8 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year9 }}</td>
                        <td>{{ salary9 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year10 }}</td>
                        <td>{{ salary10 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year11 }}</td>
                        <td>{{ salary11 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year12 }}</td>
                        <td>{{ salary12 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year13 }}</td>
                        <td>{{ salary13 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year14 }}</td>
                        <td>{{ salary14 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year15 }}</td>
                        <td>{{ salary15 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year16 }}</td>
                        <td>{{ salary16 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year17 }}</td>
                        <td>{{ salary17 }}</td>
                    </tr>
                   </table>
                <img src="{% static 'images/salary_dynamics.png' %}">
            </div>
            <div class="vacancies-number-dynamics section">
                <table border="1">
                    <caption>Динамика количества вакансий по годам</caption>
                    <tr>
                     <th>Год</th>
                     <th>Количество вакансий</th>
                    </tr>
                    <tr>
                        <td>{{ year0 }}</td>
                        <td>{{ num0 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year1 }}</td>
                        <td>{{ num1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year2 }}</td>
                        <td>{{ num2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year3 }}</td>
                        <td>{{ num3 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year4 }}</td>
                        <td>{{ num4 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year5 }}</td>
                        <td>{{ num5 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year6 }}</td>
                        <td>{{ num6 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year7 }}</td>
                        <td>{{ num7 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year8 }}</td>
                        <td>{{ num8 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year9 }}</td>
                        <td>{{ num9 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year10 }}</td>
                        <td>{{ num10 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year11 }}</td>
                        <td>{{ num11 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year12 }}</td>
                        <td>{{ num12 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year13 }}</td>
                        <td>{{ num13 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year14 }}</td>
                        <td>{{ num14 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year15 }}</td>
                        <td>{{ num15 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year16 }}</td>
                        <td>{{ num16 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year17 }}</td>
                        <td>{{ num17 }}</td>
                    </tr>
                   </table>
                <img src="{% static 'images/num_vacancies_dynamics.png' %}">
            </div>
            <div class="selected-salary-dynamics section">
                <table border="1">
                    <caption>Динамика уровня зарплат по годам для Java-программиста</caption>
                    <tr>
                     <th>Год</th>
                     <th>Средняя зарплата - Java-программист</th>
                    </tr>
                    <tr>
                        <td>{{ year0 }}</td>
                        <td>{{ salary_sel0 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year1 }}</td>
                        <td>{{ salary_sel1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year2 }}</td>
                        <td>{{ salary_sel2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year3 }}</td>
                        <td>{{ salary_sel3 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year4 }}</td>
                        <td>{{ salary_sel4 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year5 }}</td>
                        <td>{{ salary_sel5 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year6 }}</td>
                        <td>{{ salary_sel6 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year7 }}</td>
                        <td>{{ salary_sel7 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year8 }}</td>
                        <td>{{ salary_sel8 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year9 }}</td>
                        <td>{{ salary_sel9 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year10 }}</td>
                        <td>{{ salary_sel10 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year11 }}</td>
                        <td>{{ salary_sel11 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year12 }}</td>
                        <td>{{ salary_sel12 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year13 }}</td>
                        <td>{{ salary_sel13 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year14 }}</td>
                        <td>{{ salary_sel14 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year15 }}</td>
                        <td>{{ salary_sel15 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year16 }}</td>
                        <td>{{ salary_sel16 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year17 }}</td>
                        <td>{{ salary_sel17 }}</td>
                    </tr>
                   </table>
                <img src="{% static 'images/selected_salary_dynamics.png' %}">
            </div>
            <div class="selected-vacancies-number-dynamics section">
                <table border="1">
                    <caption>Динамика количества вакансий по годам для Java-программиста</caption>
                    <tr>
                     <th>Год</th>
                     <th>Количество вакансий - Java-программист</th>
                    </tr>
                    <tr>
                        <td>{{ year0 }}</td>
                        <td>{{ num_sel0 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year1 }}</td>
                        <td>{{ num_sel1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year2 }}</td>
                        <td>{{ num_sel2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year3 }}</td>
                        <td>{{ num_sel3 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year4 }}</td>
                        <td>{{ num_sel4 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year5 }}</td>
                        <td>{{ num_sel5 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year6 }}</td>
                        <td>{{ num_sel6 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year7 }}</td>
                        <td>{{ num_sel7 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year8 }}</td>
                        <td>{{ num_sel8 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year9 }}</td>
                        <td>{{ num_sel9 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year10 }}</td>
                        <td>{{ num_sel10 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year11 }}</td>
                        <td>{{ num_sel11 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year12 }}</td>
                        <td>{{ num_sel12 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year13 }}</td>
                        <td>{{ num_sel13 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year14 }}</td>
                        <td>{{ num_sel14 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year15 }}</td>
                        <td>{{ num_sel15 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year16 }}</td>
                        <td>{{ num_sel16 }}</td>
                    </tr>
                    <tr>
                        <td>{{ year17 }}</td>
                        <td>{{ num_sel17 }}</td>
                    </tr>
                   </table>
                <img src="{% static 'images/selected_num_vacancies_dynamics.png' %}">
            </div>
        </div>
    </main>
  </body>
</html>