<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. Востребованность</title>
    <link rel="stylesheet" href="{% static 'styles/demand.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand" class="selected-option-nav">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;Востребованность
                </h2>
            </header>
        </div>
        <div class="media">
            <div class="salary-dynamics section">
                <table border="1">
                    <caption>Динамика уровня зарплат по годам</caption>
                    <tr>
                     <th>Год</th>
                     <th>Средняя зарплата</th>
                    </tr>
                    <tr><td>2005</td><td>93601</td></tr><tr><td>2006</td><td>93582</td></tr><tr><td>2007</td><td>102279</td></tr><tr><td>2008</td><td>81834</td></tr><tr><td>2009</td><td>53351</td></tr><tr><td>2010</td><td>49933</td></tr><tr><td>2011</td><td>53387</td></tr><tr><td>2012</td><td>52049</td></tr><tr><td>2013</td><td>56452</td></tr><tr><td>2014</td><td>51993</td></tr><tr><td>2015</td><td>52695</td></tr><tr><td>2016</td><td>62735</td></tr><tr><td>2017</td><td>61908</td></tr><tr><td>2018</td><td>67679</td></tr><tr><td>2019</td><td>71828</td></tr><tr><td>2020</td><td>72595</td></tr><tr><td>2021</td><td>84102</td></tr><tr><td>2022</td><td>97903</td></tr>
                   </table>
                <img src="{% static 'images/salary_dynamics.png' %}">
            </div>
            <div class="vacancies-number-dynamics section">
                <table border="1">
                    <caption>Динамика количества вакансий по годам</caption>
                    <tr>
                     <th>Год</th>
                     <th>Количество вакансий</th>
                    </tr>
                    <tr><td>2005</td><td>1836</td></tr><tr><td>2006</td><td>16229</td></tr><tr><td>2007</td><td>24000</td></tr><tr><td>2008</td><td>30627</td></tr><tr><td>2009</td><td>20989</td></tr><tr><td>2010</td><td>31930</td></tr><tr><td>2011</td><td>42282</td></tr><tr><td>2012</td><td>49309</td></tr><tr><td>2013</td><td>68149</td></tr><tr><td>2014</td><td>75828</td></tr><tr><td>2015</td><td>78934</td></tr><tr><td>2016</td><td>85740</td></tr><tr><td>2017</td><td>95811</td></tr><tr><td>2018</td><td>149308</td></tr><tr><td>2019</td><td>130763</td></tr><tr><td>2020</td><td>115116</td></tr><tr><td>2021</td><td>65205</td></tr><tr><td>2022</td><td>20685</td></tr>
                   </table>
                <img src="{% static 'images/num_vacancies_dynamics.png' %}">
            </div>
            <div class="selected-salary-dynamics section">
                <table border="1">
                    <caption>Динамика уровня зарплат по годам для Java-программиста</caption>
                    <tr>
                     <th>Год</th>
                     <th>Средняя зарплата - Java-программист</th>
                    </tr>
                    <tr><td>2005</td><td>86215</td></tr><tr><td>2006</td><td>108392</td></tr><tr><td>2007</td><td>121676</td></tr><tr><td>2008</td><td>101776</td></tr><tr><td>2009</td><td>74887</td></tr><tr><td>2010</td><td>80994</td></tr><tr><td>2011</td><td>78972</td></tr><tr><td>2012</td><td>81004</td></tr><tr><td>2013</td><td>86920</td></tr><tr><td>2014</td><td>88732</td></tr><tr><td>2015</td><td>102831</td></tr><tr><td>2016</td><td>124917</td></tr><tr><td>2017</td><td>122160</td></tr><tr><td>2018</td><td>144234</td></tr><tr><td>2019</td><td>131143</td></tr><tr><td>2020</td><td>137153</td></tr><tr><td>2021</td><td>187813</td></tr><tr><td>2022</td><td>216867</td></tr>
                   </table>
                <img src="{% static 'images/selected_salary_dynamics.png' %}">
            </div>
            <div class="selected-vacancies-number-dynamics section">
                <table border="1">
                    <caption>Динамика количества вакансий по годам для Java-программиста</caption>
                    <tr>
                     <th>Год</th>
                     <th>Количество вакансий - Java-программист</th>
                    </tr>
                    <tr><td>2005</td><td>27</td></tr><tr><td>2006</td><td>439</td></tr><tr><td>2007</td><td>583</td></tr><tr><td>2008</td><td>668</td></tr><tr><td>2009</td><td>490</td></tr><tr><td>2010</td><td>810</td></tr><tr><td>2011</td><td>1038</td></tr><tr><td>2012</td><td>1016</td></tr><tr><td>2013</td><td>1023</td></tr><tr><td>2014</td><td>1257</td></tr><tr><td>2015</td><td>1194</td></tr><tr><td>2016</td><td>1552</td></tr><tr><td>2017</td><td>1547</td></tr><tr><td>2018</td><td>2172</td></tr><tr><td>2019</td><td>1941</td></tr><tr><td>2020</td><td>1738</td></tr><tr><td>2021</td><td>944</td></tr><tr><td>2022</td><td>229</td></tr>
                   </table>
                <img src="{% static 'images/selected_num_vacancies_dynamics.png' %}">
            </div>
        </div>
    </main>
  </body>
</html>