<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. География</title>
    <link rel="stylesheet" href="{% static 'styles/geography.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography" class="selected-option-nav">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;География
                </h2>
            </header>
        </div>
        <div class="media">
            <div class="section"><table border="1"><caption>Уровень зарплат по городам - топ 10, начиная с конца</caption><tr><th>Город</th><th>Средняя зарплата</th></tr><tr><td>{{ city0 }}</td><td>{{ salary0 }}</td></tr><tr><td>{{ city1 }}</td><td>{{ salary1 }}</td></tr><tr><td>{{ city2 }}</td><td>{{ salary2 }}</td></tr><tr><td>{{ city3 }}</td><td>{{ salary3 }}</td></tr><tr><td>{{ city4 }}</td><td>{{ salary4 }}</td></tr><tr><td>{{ city5 }}</td><td>{{ salary5 }}</td></tr><tr><td>{{ city6 }}</td><td>{{ salary6 }}</td></tr><tr><td>{{ city7 }}</td><td>{{ salary7 }}</td></tr><tr><td>{{ city8 }}</td><td>{{ salary8 }}</td></tr><tr><td>{{ city9 }}</td><td>{{ salary9 }}</td></tr></table><img src="{% static 'images/city_salary_dynamics.png' %}"></div>
            <div class="section"><table border="1"><caption>Доля вакансий по городам - топ 10, начиная с конца</caption><tr><th>Город</th><th>Доля вакансий</th></tr><tr><td>{{ city_per0 }}</td><td>{{ percent0 }}</td></tr><tr><td>{{ city_per1 }}</td><td>{{ percent1 }}</td></tr><tr><td>{{ city_per2 }}</td><td>{{ percent2 }}</td></tr><tr><td>{{ city_per3 }}</td><td>{{ percent3 }}</td></tr><tr><td>{{ city_per4 }}</td><td>{{ percent4 }}</td></tr><tr><td>{{ city_per5 }}</td><td>{{ percent5 }}</td></tr><tr><td>{{ city_per6 }}</td><td>{{ percent6 }}</td></tr><tr><td>{{ city_per7 }}</td><td>{{ percent7 }}</td></tr><tr><td>{{ city_per8 }}</td><td>{{ percent8 }}</td></tr><tr><td>{{ city_per9 }}</td><td>{{ percent9 }}</td></tr></table><img src="{% static 'images/city_num_vacancies_dynamics.png' %}"></div>
        </div>
    </main>
  </body>
</html>