<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. География</title>
    <link rel="stylesheet" href="{% static 'styles/geography.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography" class="selected-option-nav">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;География
                </h2>
            </header>
        </div>
        <div class="media">
            <div class="city-salary section">
                <table border="1">
                    <caption>Уровень зарплат по городам - топ 10, начиная с конца</caption>
                    <tr>
                     <th>Город</th>
                     <th>Средняя зарплата</th>
                    </tr>
                    <tr><td>Алматы</td><td>36968</td></tr><tr><td>Ростов-на-Дону</td><td>46400</td></tr><tr><td>Воронеж</td><td>46735</td></tr><tr><td>Красноярск</td><td>48048</td></tr><tr><td>Уфа</td><td>49232</td></tr><tr><td>Пермь</td><td>49502</td></tr><tr><td>Краснодар</td><td>53014</td></tr><tr><td>Нижний Новгород</td><td>53138</td></tr><tr><td>Самара</td><td>54699</td></tr><tr><td>Казань</td><td>55723</td></tr>
                   </table>
                <img src="{% static 'images/city_salary_dynamics.png' %}">
            </div>
            <div class="share-city-vacancies section">
                <table border="1">
                    <caption>Доля вакансий по городам - топ 10, начиная с конца</caption>
                    <tr>
                     <th>Город</th>
                     <th>Доля вакансий</th>
                    </tr>
                    <tr><td>Томск</td><td>0.0107%</td></tr><tr><td>Красноярск</td><td>0.0124%</td></tr><tr><td>Воронеж</td><td>0.0125%</td></tr><tr><td>Нур-Султан</td><td>0.0125%</td></tr><tr><td>Пермь</td><td>0.0126%</td></tr><tr><td>Уфа</td><td>0.0127%</td></tr><tr><td>Челябинск</td><td>0.0135%</td></tr><tr><td>Самара</td><td>0.0137%</td></tr><tr><td>Киев</td><td>0.0153%</td></tr><tr><td>Ростов-на-Дону</td><td>0.0186%</td></tr>
                   </table>
                <img src="{% static 'images/city_num_vacancies_dynamics.png' %}">
            </div>
        </div>
    </main>
  </body>
</html>