<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. Последние вакансии</title>
    <link rel="stylesheet" href="{% static 'styles/latest-vacancies.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies" class="selected-option-nav">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;Последние вакансии
                </h2>
            </header>
        </div>
        <div class="media">
            <h1>
                Последние вакансии, опубликованные в будний день:
            </h1>
            <div class="vacancy">
                <!-- <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        Программист-разработчик Java
                    </li>
                    <li class="vacancy-list-element description">
                        <p>
                            Ищем разработчика для работы в компании, которая ведет разработку финансовых решений, обеспечивающих комфортный пользовательский опыт при высокой транзакционной нагрузке.
                        
                            Ищем того, кто считает программирование важной частью своей жизни.
                            РАБОТА В ОФИСЕ и только в ЕКАТЕРИНБУРГЕ
                            Мы не рассматриваем удаленных сотрудников!
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:&nbsp;&nbsp;&nbsp;
                        </h2>
                        Опыт разработки: JAVA не менее 1 года (рассматриваем так же программистов без опыта работы в компаниях, но с опытом самостоятельного программирования), Уверенное владение HTML, CSS, JS, Опыт создания Web-приложений (понимание соответствующего стека Java-технологий, знание протоколов TCP/IP, HTTP/HTTPS, знание JavaScript и HTML), Хорошие навыки (чтение технической документации) английского языка, Умение работать в команде и решать задачи самостоятельно
                    </li>
                    <li class="vacancy-list-element company">
                        РУ-ОПТ
                    </li>
                    <li class="vacancy-list-element salary">
                        от 80 000 до 200 000 руб
                    </li>
                    <li class="vacancy-list-element city">
                        Екатеринбург
                    </li>
                    <li class="vacancy-list-element date">
                        5.01.2023
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        Программист-разработчик Java
                    </li>
                    <li class="vacancy-list-element description">
                        <p>
                            Ищем разработчика для работы в компании, которая ведет разработку финансовых решений, обеспечивающих комфортный пользовательский опыт при высокой транзакционной нагрузке.
                        
                            Ищем того, кто считает программирование важной частью своей жизни.
                            РАБОТА В ОФИСЕ и только в ЕКАТЕРИНБУРГЕ
                            Мы не рассматриваем удаленных сотрудников!
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:&nbsp;&nbsp;&nbsp;
                        </h2>
                        Опыт разработки: JAVA не менее 1 года (рассматриваем так же программистов без опыта работы в компаниях, но с опытом самостоятельного программирования), Уверенное владение HTML, CSS, JS, Опыт создания Web-приложений (понимание соответствующего стека Java-технологий, знание протоколов TCP/IP, HTTP/HTTPS, знание JavaScript и HTML), Хорошие навыки (чтение технической документации) английского языка, Умение работать в команде и решать задачи самостоятельно
                    </li>
                    <li class="vacancy-list-element company">
                        РУ-ОПТ
                    </li>
                    <li class="vacancy-list-element salary">
                        от 80 000 до 200 000 руб
                    </li>
                    <li class="vacancy-list-element city">
                        Екатеринбург
                    </li>
                    <li class="vacancy-list-element date">
                        5.01.2023
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        Программист-разработчик Java
                    </li>
                    <li class="vacancy-list-element description">
                        <p>
                            Ищем разработчика для работы в компании, которая ведет разработку финансовых решений, обеспечивающих комфортный пользовательский опыт при высокой транзакционной нагрузке.
                        
                            Ищем того, кто считает программирование важной частью своей жизни.
                            РАБОТА В ОФИСЕ и только в ЕКАТЕРИНБУРГЕ
                            Мы не рассматриваем удаленных сотрудников!
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:&nbsp;&nbsp;&nbsp;
                        </h2>
                        Опыт разработки: JAVA не менее 1 года (рассматриваем так же программистов без опыта работы в компаниях, но с опытом самостоятельного программирования), Уверенное владение HTML, CSS, JS, Опыт создания Web-приложений (понимание соответствующего стека Java-технологий, знание протоколов TCP/IP, HTTP/HTTPS, знание JavaScript и HTML), Хорошие навыки (чтение технической документации) английского языка, Умение работать в команде и решать задачи самостоятельно
                    </li>
                    <li class="vacancy-list-element company">
                        РУ-ОПТ
                    </li>
                    <li class="vacancy-list-element salary">
                        от 80 000 до 200 000 руб
                    </li>
                    <li class="vacancy-list-element city">
                        Екатеринбург
                    </li>
                    <li class="vacancy-list-element date">
                        5.01.2023
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        Программист-разработчик Java
                    </li>
                    <li class="vacancy-list-element description">
                        <p>
                            Ищем разработчика для работы в компании, которая ведет разработку финансовых решений, обеспечивающих комфортный пользовательский опыт при высокой транзакционной нагрузке.
                        
                            Ищем того, кто считает программирование важной частью своей жизни.
                            РАБОТА В ОФИСЕ и только в ЕКАТЕРИНБУРГЕ
                            Мы не рассматриваем удаленных сотрудников!
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:&nbsp;&nbsp;&nbsp;
                        </h2>
                        Опыт разработки: JAVA не менее 1 года (рассматриваем так же программистов без опыта работы в компаниях, но с опытом самостоятельного программирования), Уверенное владение HTML, CSS, JS, Опыт создания Web-приложений (понимание соответствующего стека Java-технологий, знание протоколов TCP/IP, HTTP/HTTPS, знание JavaScript и HTML), Хорошие навыки (чтение технической документации) английского языка, Умение работать в команде и решать задачи самостоятельно
                    </li>
                    <li class="vacancy-list-element company">
                        РУ-ОПТ
                    </li>
                    <li class="vacancy-list-element salary">
                        от 80 000 до 200 000 руб
                    </li>
                    <li class="vacancy-list-element city">
                        Екатеринбург
                    </li>
                    <li class="vacancy-list-element date">
                        5.01.2023
                    </li>
                </ul>
            </div> -->
        </div>
    </main>
    <div class="vacancies">
        <script class="hh-script" src="https://api.hh.ru/widgets/vacancies/search?count=6&locale=RU&links_color=1560b2&border_color=1560b2&show_region=true&text=java"></script>
    </div>
    <!-- <script class="hh-script" src="https://api.hh.ru/widgets/vacancies/search?count=3&locale=RU&links_color=1560b2&border_color=1560b2"></script> -->
    <script src="{% static 'scripts/api.js' %}"></script>
  </body>
</html>