<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. Последние вакансии</title>
    <link rel="stylesheet" href="{% static 'styles/latest-vacancies.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies" class="selected-option-nav">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;Последние вакансии
                </h2>
            </header>
        </div>
        <div class="media">
           <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name0 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description0 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills0 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company0 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary0 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city0 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date0 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name1 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description1 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills1 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company1 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary1 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city1 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date1 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name2 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description2 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills2 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company2 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary2 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city2 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date2 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name3 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description3 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills3 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company3 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary3 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city3 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date3 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name4 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description4 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills4 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company4 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary4 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city4 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date4 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name5 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description5 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills5 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company5 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary5 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city5 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date5 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name6 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description6 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills6 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company6 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary6 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city6 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date6 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name7 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description7 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills7 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company7 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary7 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city7 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date7 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name8 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description8 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills8 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company8 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary8 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city8 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date8 }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy">
                <ul class="vacancy-list">
                    <li class="vacancy-list-element name">
                        <h2>
                            Название:
                        </h2>
                        <p>
                            {{ name9 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element description">
                        <h2>
                            Описание:
                        </h2>
                        <p>
                            {{ description9 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element skills">
                        <h2>
                            Навыки:
                        </h2>
                        <p>
                            {{ skills9 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element company">
                        <h2>
                            Компания:
                        </h2>
                        <p>
                            {{ company9 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element salary">
                        <h2>
                            Оклад:
                        </h2>
                        <p>
                            {{ salary9 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element city">
                        <h2>
                            Регион:
                        </h2>
                        <p>
                            {{ city9 }}
                        </p>
                    </li>
                    <li class="vacancy-list-element date">
                        <h2>
                            Дата публикации:
                        </h2>
                        <p>
                            {{ date9 }}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
  </body>
</html>