<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Java-программист. Навыки</title>
    <link rel="stylesheet" href="{% static 'styles/skills.css' %}">
    <link rel="icon" href="{% static 'images/urfu_icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
        <nav>
            <ul class="nav-list">
                <li class="nav-list-element">
                    <a href="description">
                        описание профессии
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="demand">
                        востребованность
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="geography">
                        география
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="skills" class="selected-option-nav">
                        навыки
                    </a>
                </li>
                <li class="nav-list-element">
                    <a href="latest_vacancies">
                        последние вакансии
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="name">
                демина анастасия викторовна
            </p>
            <p class="group">
                ри-210942
            </p>
        </footer>
    </div>
    <main>
        <div class="header-container">
            <header>
                <h1>
                    Java - разработчик
                </h1>
                <h2>
                    - &nbsp;&nbsp;&nbsp;Навыки
                </h2>
            </header>
        </div>
        <div class="media">
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year0 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_0 }}</th>
                        <th>{{ count0_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_1 }}</th>
                        <th>{{ count0_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_2 }}</th>
                        <th>{{ count0_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_3 }}</th>
                        <th>{{ count0_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_4 }}</th>
                        <th>{{ count0_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_5 }}</th>
                        <th>{{ count0_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_6 }}</th>
                        <th>{{ count0_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_7 }}</th>
                        <th>{{ count0_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_8 }}</th>
                        <th>{{ count0_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill0_9 }}</th>
                        <th>{{ count0_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2015.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year1 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_0 }}</th>
                        <th>{{ count1_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_1 }}</th>
                        <th>{{ count1_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_2 }}</th>
                        <th>{{ count1_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_3 }}</th>
                        <th>{{ count1_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_4 }}</th>
                        <th>{{ count1_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_5 }}</th>
                        <th>{{ count1_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_6 }}</th>
                        <th>{{ count1_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_7 }}</th>
                        <th>{{ count1_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_8 }}</th>
                        <th>{{ count1_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill1_9 }}</th>
                        <th>{{ count1_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2016.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year2 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_0 }}</th>
                        <th>{{ count2_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_1 }}</th>
                        <th>{{ count2_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_2 }}</th>
                        <th>{{ count2_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_3 }}</th>
                        <th>{{ count2_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_4 }}</th>
                        <th>{{ count2_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_5 }}</th>
                        <th>{{ count2_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_6 }}</th>
                        <th>{{ count2_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_7 }}</th>
                        <th>{{ count2_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_8 }}</th>
                        <th>{{ count2_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill2_9 }}</th>
                        <th>{{ count2_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2017.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year3 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_0 }}</th>
                        <th>{{ count3_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_1 }}</th>
                        <th>{{ count3_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_2 }}</th>
                        <th>{{ count3_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_3 }}</th>
                        <th>{{ count3_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_4 }}</th>
                        <th>{{ count3_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_5 }}</th>
                        <th>{{ count3_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_6 }}</th>
                        <th>{{ count3_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_7 }}</th>
                        <th>{{ count3_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_8 }}</th>
                        <th>{{ count3_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill3_9 }}</th>
                        <th>{{ count3_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2018.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year4 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_0 }}</th>
                        <th>{{ count4_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_1 }}</th>
                        <th>{{ count4_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_2 }}</th>
                        <th>{{ count4_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_3 }}</th>
                        <th>{{ count4_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_4 }}</th>
                        <th>{{ count4_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_5 }}</th>
                        <th>{{ count4_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_6 }}</th>
                        <th>{{ count4_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_7 }}</th>
                        <th>{{ count4_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_8 }}</th>
                        <th>{{ count4_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill4_9 }}</th>
                        <th>{{ count4_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2019.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year5 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_0 }}</th>
                        <th>{{ count5_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_1 }}</th>
                        <th>{{ count5_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_2 }}</th>
                        <th>{{ count5_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_3 }}</th>
                        <th>{{ count5_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_4 }}</th>
                        <th>{{ count5_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_5 }}</th>
                        <th>{{ count5_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_6 }}</th>
                        <th>{{ count5_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_7 }}</th>
                        <th>{{ count5_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_8 }}</th>
                        <th>{{ count5_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill5_9 }}</th>
                        <th>{{ count5_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2020.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year6 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_0 }}</th>
                        <th>{{ count6_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_1 }}</th>
                        <th>{{ count6_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_2 }}</th>
                        <th>{{ count6_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_3 }}</th>
                        <th>{{ count6_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_4 }}</th>
                        <th>{{ count6_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_5 }}</th>
                        <th>{{ count6_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_6 }}</th>
                        <th>{{ count6_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_7 }}</th>
                        <th>{{ count6_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_8 }}</th>
                        <th>{{ count6_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill6_9 }}</th>
                        <th>{{ count6_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2021.png' %}">
            </div>
            <div class="section">
                <table border="1">
                    <caption>
                        {{ year7 }}
                    </caption>
                    <tr>
                        <th>Навык</th>
                        <th>Сколько раз встречается в вакансиях</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_0 }}</th>
                        <th>{{ count7_0 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_1 }}</th>
                        <th>{{ count7_1 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_2 }}</th>
                        <th>{{ count7_2 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_3 }}</th>
                        <th>{{ count7_3 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_4 }}</th>
                        <th>{{ count7_4 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_5 }}</th>
                        <th>{{ count7_5 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_6 }}</th>
                        <th>{{ count7_6 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_7 }}</th>
                        <th>{{ count7_7 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_8 }}</th>
                        <th>{{ count7_8 }}</th>
                    </tr>
                    <tr>
                        <th>{{ skill7_9 }}</th>
                        <th>{{ count7_9 }}</th>
                    </tr>
                </table>
                <img src="{% static 'images/2022.png' %}">
            </div>
        </div>
    </main>
  </body>
</html>